.splash-main {
  padding-top: 70vh;
}
.opaque {
  background-color: rgba(252, 252, 252, 0.5);
}
#background {
  display: flex;
  height:100vh;
  background-image: url('img/landing-background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
p{
  color: #000000;
  font-size: 32px;
}
.something {
  padding: 10px;
}
.homebtn {
  margin: 10px;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
  color: #FFFFFF;

}

#signin {
  left: auto;
  margin-right: 1%;
  font-weight: bold;
  opacity: .7;
  text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
}

@media (max-width:730px) {
  p {
    font-size: 15px;
  }
}
