* {
  box-sizing: border-box;
}
body, p, button, input, optgroup, select, textarea {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .display-1, .display-2, .display-3, .display-4 {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.navbar {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.navbar.scrolled {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.display-3 {
  font-size: 1.7em;
  padding-top: 10px;
  padding-left: 10px;
}

.display-4 {
  font-size: 2.7em;
}

a {
  color: #292B2C;
  text-decoration: none;
  margin: none;
  padding: none;
}

a:hover {
  color: #292B2C;
  text-decoration: none;
}

form {
  padding-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.unself-logo {
  width: 35px;
  height: 35px;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

/* Sign In Page */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*volunteer home page*/

.card-img-top {
  max-height: 9em;
}

/*user home*/
.card {
  margin: 30px 0px;
}

/* new_user */
.form-control {
  margin-bottom: 10px;
}
/* Event Cards */
.card {
  line-height: .9;
  background-color: #eee;
}

.card:hover {
-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.eventimg {
  margin: 0 auto;
  margin-top: 13px;
}

.eventdescription {
  line-height: 1.1;
}

.eventname {
  text-decoration: underline;
  font-size: 1.3em;
}

.eventname:hover {
  color: rgb(0, 118, 157);
}

.eventwebsite:hover {
  text-decoration: underline;
}

/* Event Details */
.eventdetailimg {
  display: flex;
  background-size: cover;
  width: 100vw;
  min-height: 500px;
}

.crop {
    overflow: hidden;
}

.crop img {
    margin: 0px 0 -350px -15px;
}

.eventdetail {
  font-size: 1.1em;
}

/* Logout */
.logoutpgf {
  font-size: 1.25em;
}

.logoutlinks:hover {
  text-decoration: underline;
}

/* Spacing */
.margin10 {
  margin-bottom: 10px;
}

.topmargin150 {
  margin-top: 150px;
}

.topmargin130 {
  margin-top: 130px;
}

.topmargin70 {
  margin-top: 70px;
}

.topmargin60 {
  margin-top: 60px;
}

.topmargin40 {
  margin-top: 40px;
}

.topmargin30 {
  margin-top: 30px;
}

.topmargin20 {
  margin-top: 20px;
}

.topmargin10 {
  margin-top: 10px;
}

.leftmargin20 {
  margin-left: 20px;
}

.bottommargin40 {
  margin-bottom: 40px;
}

.allmargin20 {
  margin: 20px;
}
